# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv
venv-py3.11/

# IDE - VSCode
.vscode/
*.code-workspace
.history/

# IDE - PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# IDE - Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# Local development
.DS_Store
Thumbs.db

# Project specific
*.png
*.jpeg
*.jpg
*.heic
*.zip

tmp
images
.env